* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    background-image: url(./images/banner.jpg); 
    background-size: 101% 200%;
    height: 35vh;
    background-position: -2px -24px;
    border-bottom: #bb1916 solid 5px;
}

.title {
    float: right;
    font-family: 'Limelight', cursive;
    color: #fff;
    font-size: 100px;
}

#movie-input {
    width: 13vw;
}

.search-row {
    margin-bottom: 2%;
}

.intro {
    font-family: 'Limelight', cursive;;
}

.card {
    float: left;
    width: 18vw;
    height: 70vh;
}

.card-img-top {
    height: 55vh;
}

.modal-title {
    font-family: "Limelight", cursive;
    font-size: 2em;
}

